.searchHeader {
    width: 100%;
    height: 65px;
    padding: 0 15px;
    .flex(space-between);

    .left {
        width: 70px;
        font-weight: 700;
        font-size: 18px;
        color: @text-title-color;
    }

    .right {
        width: 208px;
    }
}
